extends layout

block content
  nav.navbar.navbar-expand-lg.navbar-light.bg-facebook
    a.navbar-brand(href='#') facebook
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav.mr-auto
        li.nav-item.active
          form.form-inline.my-2.my-lg-0
            input.form-control.mr-sm-2(type='search', placeholder='Search', aria-label='Search')
      
      ul.navbar-nav
        li
          a.nav-link(href="/auth/logout") Logout
  
  .container.wall
    .card
      .card-body
        .card-title.flex
          form(method="POST" action="/posts" id="new-post")
            textarea.form-control(name="post", placeholder="What's on your mind ?")
      
      .card-footer.bg-transparent.no-border
        hr
        button.btn.btn-primary.btn-sm(type="submit" form="new-post") Post
    
    .posts
      each post in posts
        .post
          .card         
            .card-body
              .card-title.flex
                img.post-profile-img(src="https://picsum.photos/130/130")
                div.flex.column.justify-between.ml-2
                  div.text-primary.font-weight-bold.post-user-name Vijay Rangan
                  h6.text-muted.text-sm #{moment(post.createdAt).fromNow()}

              .post-body
                p= post.content
                hr
              
              .post-actions.flex.justify-around.mb-3
                div.post-action
                  i.fa.fa-thumbs-up.mr-1
                  span.text-gray Like
                div.post-action
                  i.fa.fa-comment.mr-1
                  span.text-gray Comment
                div.post-action
                  i.fa.fa-share.mr-1
                  span.text-gray Share


              .comments
                ul.list-group
                  each comment in post.comments
                    include partials/comment


            .card-footer.bg-transparent.no-border
                form(method="POST" action="/posts/" + post.id + "/comments")
                  .flex
                    img.img-round.comment-avatar.mr-2(src="https://picsum.photos/40/40")
                    input.form-control.input-round.bg-facebook-gray.mr8.comment-text-box(
                      required
                      name="content"
                      autocomplete="off"
                      placeholder="Write a comment...")
